<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>{{ page.title | escape }}</title>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  

  <!-- MathJax Script for LaTeX -->
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>

  
  <!-- Stylesheets and other head elements -->
  {% if site.github.url %}
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/style.css">
  {% else %}
  <link rel="stylesheet" href="/assets/css/style.css">
  {% endif %}
</head>


<body>

  <div class="wrapper">
    {{ content }}
  </div>
  
 




  {% include analytics.html %}
</body>
</html>
